.rb-row {
    display: flex;
    flex-direction: row;
    padding-top : 3em;
    justify-content: center;
    padding-left: 2em;
    padding-right: 2em;
}
.rb-container {
    display: flex;
    flex-direction: column;
}
.rb-div-primary {
    border : 2px solid gray;
    transform: rotate(2deg);
    box-shadow: 13px 6px #ddd;
    border-radius: 7px;
    transition: ease .5s .2s;
}
.rb-div-primary:hover {
    transform: rotate(-1deg);
}
.rb-picture {
    height: auto;
    width :200px;
}

.rb-flex-column {
    display: flex;
    flex-direction: column;
}

a {
    color : #393a3c;
    text-decoration: none;
}
.rb-bio {
    margin-left : 2em;
    border: 2px solid gray;
    background-color: #faf8fa;
    padding : 2em;
    border-radius: 7px;
    box-shadow: 13px 15px #ddd;
    color:#393a3c;
    transition: ease .5s .2s;
}
.rb-bio:hover {
    transform: rotate(-1deg);
}
.rb-name-contact {
    padding:1em;
}
@media only screen and (max-width: 600px) {
    .rb-row {
        flex-direction : column;
    }
    .rb-div-primary {
        justify-content: center;
        width: 200px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1em;    
    }
    .rb-bio {
        margin-left: unset;
    }

}

.rb-experience-container {
    width: 80%;
    text-align: left;
    border : 2px solid gray;
    background-color: #faf8fa;
    padding : 1em;
    border-radius: 7px;
    box-shadow: 13px 15px #ddd;
    color:#393a3c;
}

.rb-experience-item {
    border : 2px solid gray;
    background-color: #faf8ff;
    border-radius: 7px;
    box-shadow: 13px 15px #ddd;
    color:#393a3c;
    margin-bottom:  1.618em;
    width :85%;
    transition:  ease-in .5s .1s;
}
.rb-experience-item:hover {
    width: 100%;
    transform: rotate(-1deg);

}

.rb-education-container {
    width: 80%;
    text-align: left;
    border : 2px solid gray;
    background-color: #faf8fa;
    padding : 1em;
    border-radius: 7px;
    box-shadow: 13px 15px #ddd;
    color:#393a3c;
}

.rb-education-item {
    border : 2px solid gray;
    background-color: #faf8ff;
    border-radius: 7px;
    box-shadow: 13px 15px #ddd;
    color:#393a3c;
    margin-bottom:  1.618em;
    width : 80%;
    transition: ease-in .5s .1s;
}

.rb-education-item:hover {
    width : 100%;
    transform: rotate(1deg);
}
details summary::-webkit-details-marker {
    display:none;
}
.rb-skills-container {
    width: 80%;
    text-align: left;
    border : 2px solid gray;
    background-color: #faf8fa;
    padding : 1em;
    border-radius: 7px;
    box-shadow: 13px 15px #ddd;
    color:#393a3c;
}
.rb-skills{
    display: flex;
    flex-direction: row;
}
.rb-html {
    width : 30%;
    background-color: orange;
}
.rb-css {
    width :25%;
    background-color: greenyellow;
}
.rb-programming {
    width: 45%;
    background-color: darkslateblue;
}
a {
    color : rgb(0, 1, 63);
    word-break: break-word;
}

.rb-s {
    height: 2em;
    border : 1px #393a3c;
    color : white;
}